.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
}

.userLogo {
  margin-left: auto;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
